.card-heading,
.card-body {
    padding: 20px 30px;
}

.card-heading {
    margin: 0;
    border-bottom: 1px solid #9b9b9b;
}

.card-title {
    margin: 0;
}

.card-button {
    margin: 20px 0 0;
}

.MuiSwitch-root {
    padding: 7px !important;
    width: 64px !important;
}

.MuiSwitch-track::before{
    position: absolute;
    inset: -16.33% -8.17%;
    z-index: -1;
    display: inline-block;
    border-radius: 48px;
    box-shadow: rgb(255 255 255 / 28%) 0px 4px 12px inset;
    content: "";
}

.MuiSwitch-track::after{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 48px;
    box-shadow: rgb(255 255 255 / 28%) 0px 9.3473px 28.0419px inset;
    content: "";
}

.MuiSwitch-track {
    border-radius: 15px !important;
    background-color: var(
        --jll-ds-color-surface-base-subdued) !important;
    border: 2px solid #fff !important;
    border-radius: 50.3631px;
    box-shadow: inset 0 3.2492px 6.4985px rgb(0 0 0 / 7%) !important;
    opacity: 1 !important;
}

.MuiSwitch-track:focus-within {
    outline: 2px solid var(--jll-ds-color-stroke-info-default) !important;
}

.MuiSwitch-root::before {
    position: absolute;
    top: -16.33%;
    right: -8.17%;
    bottom: -16.33%;
    left: -8.17%;
    z-index: -1;
    display: inline-block;
    border-radius: 48px;
    box-shadow: inset 0 4px 12px rgb(255 255 255 / 28%);
    content: "";
}

.MuiSwitch-root::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 48px;
    box-shadow: inset 0 9.3473px 28.0419px rgb(255 255 255 / 28%);
    content: "";
}

.MuiSwitch-thumb {
    color: var(
        --jll-ds-switch-off-background-color,
        var(--jll-ds-color-surface-base-subdued)
    ) !important;
    box-shadow: rgb(0 0 0 / 17%) 0px 3.1477px 6.2954px !important;
}

.MuiSwitch-switchBase {
    padding: 10px 11px !important;
}

.Mui-checked.MuiSwitch-switchBase {
    padding: 10px 13px !important;
}

.MuiSwitch-switchBase:hover {
    background: none !important;
}

.Mui-checked.MuiSwitch-switchBase {
    padding: 10px 13px !important;
}

.Mui-checked + .MuiSwitch-track {
    opacity: 1;
    background-color: var(
        --jll-ds-switch-on-background-color,
        var(--jll-ds-color-surface-base-reversed)
    ) !important;
    outline: 2px solid var(--jll-ds-color-stroke-info-default) !important;
    box-shadow: inset 0 4px 12px rgb(255 255 255 / 20%) !important;
}
