.card-heading,
.card-body {
    padding: 20px 30px;
}

.card-heading {
    margin: 0;
    border-bottom: 1px solid #9b9b9b;
}

.card-title {
    margin: 0;
}

.card-button {
    margin: 20px 0 0;
}